.copy_right_footer{
    font-family: cursive;
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color:white;
    line-height: 3;
    text-align: center;
}
body{
  background-color: aliceblue;
  font-family: cursive;

}
h5{
  font-family: cursive;
  font-size: larger;
  background-color: plum;

}
b{
  font-size: large;
  background-color: skyblue;
}
#div{
  background-color: plum;
}
h4{
  background-color: antiquewhite;
}
h2{
  background-color: navajowhite;
}